<!DOCTYPE html>
<html>
<head>
   <meta charset="UTF-8">
   <title> Techstitution </title>

   <link href="css/style.css" rel="stylesheet" />
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
   <script type="text/javascript" src="js/jquery-3.2.1.min.js"></script>
   <script type="text/javascript" src="css/bootstrap/js/bootstrap.min.js"></script>
   <script type="text/javascript" src="js/script.js"></script>
   <script src="https://code.highcharts.com/highcharts.js"></script>
 <script src="https://code.highcharts.com/modules/exporting.js"></script>
</head>
<body>
<div class="container-fluid">