h3{ 
text-align:center;
	}	

h2 {
	 
 text-align: left;
 color:#26443c;

}
h2 {
 overflow: hidden;
 color:#26443c;
}
h2:after {
 background-color: #26443c;
 content: "";
 display: inline-block;
 height: 1px;
 position: relative;
 vertical-align: middle;
 width: 70%;
}
h2:after {
 left: 0.5em;
 margin-right: -50%;
}
.container 
{

 border: 2px solid lightgray;
    border-radius: 15px; 
  	
}
.label-top-fix{
padding-top: 20px ;
}
